Repository rapid7/metasploit-payloads, pull requests merged in 2018-09, with the labels that each got.

#174 Add universal unhooking call to meterpreter server
  c/meterpreter/source/server/metsrv.c
  c/meterpreter/source/server/metsrv.h
  c/meterpreter/source/universal_unhooking/apisetmap.c
  c/meterpreter/source/universal_unhooking/apisetmap.h
  c/meterpreter/source/universal_unhooking/imports.c
  c/meterpreter/source/universal_unhooking/imports.h
  c/meterpreter/source/universal_unhooking/universal_unhooking.c
  c/meterpreter/source/universal_unhooking/universal_unhooking.h
  c/meterpreter/workspace/meterpreter.sln
  c/meterpreter/workspace/metsrv/metsrv.vcxproj
  c/meterpreter/workspace/universal_unhooking/universal_unhooking.vcxproj
Labels: enhancement, windows

#304 Add PHP Meterpreter chmod
  php/meterpreter/ext_server_stdapi.php
Labels: feature, php

#301 python meterpreter chmod command
  python/meterpreter/ext_server_stdapi.py
Labels: enhancement, feature, python
