Repository rapid7/metasploit-payloads, pull requests merged in 2018-12, with the labels that each got.

#319 Fix #318, Close Process Streams
  python/meterpreter/meterpreter.py
Labels: bug, python

#311 Fix issue about REG_MULTI_SZ.
  c/meterpreter/source/extensions/stdapi/server/sys/registry/registry.c
Labels: bug, windows

#308 remove ndkstager from java/android build
  java/androidpayload/ndkstager/jni/Android.mk
  java/androidpayload/ndkstager/jni/Application.mk
  java/androidpayload/ndkstager/jni/ndkstager.c
  java/androidpayload/ndkstager/pom.xml
  java/pom.xml
Labels: android, java
