Repository rapid7/metasploit-payloads, pull requests merged in 2020-06, with the labels that each got.

#406 Fix a NameError in _core_enumextcmd
  python/meterpreter/meterpreter.py
Labels: bug, msf6, python

#399 Add TLV encryption support to Python Meterpreter
  python/meterpreter/meterpreter.py
Labels: enhancement, msf6, python

#414 Fix config generation for migration
  c/meterpreter/source/metsrv/server_setup.c
Labels: bug, windows

#397 Change from PEM to DER for crypt TLV negotiation
  c/meterpreter/source/common/common_core.h
  c/meterpreter/source/common/common_metapi.h
  c/meterpreter/source/extensions/extapi/extapi.h
  c/meterpreter/source/extensions/extapi/pageantjacker.c
  c/meterpreter/source/extensions/peinjector/peinjector_bridge.c
  c/meterpreter/source/extensions/powershell/powershell.h
  c/meterpreter/source/extensions/powershell/powershell_bridge.cpp
  c/meterpreter/source/extensions/python/python_commands.c
  c/meterpreter/source/extensions/stdapi/server/railgun/railgun.c
  c/meterpreter/source/extensions/stdapi/server/sys/process/ps.c
  c/meterpreter/source/extensions/stdapi/server/sys/process/ps.h
  c/meterpreter/source/extensions/stdapi/server/ui/desktop.c
  c/meterpreter/source/extensions/stdapi/stdapi.h
  c/meterpreter/source/metsrv/base_dispatch.c
  c/meterpreter/source/metsrv/core.c
  c/meterpreter/source/metsrv/core.h
  c/meterpreter/source/metsrv/packet_encryption.c
  c/meterpreter/source/metsrv/remote_dispatch.c
  c/meterpreter/source/metsrv/server_pivot.c
  c/meterpreter/source/metsrv/server_pivot_named_pipe.c
  java/meterpreter/meterpreter/src/main/java/com/metasploit/meterpreter/TLVType.java
  java/meterpreter/meterpreter/src/main/java/com/metasploit/meterpreter/command/NotYetImplementedCommand.java
  php/meterpreter/meterpreter.php
Labels: enhancement, msf6, php, windows

#415 Change from PEM to DER for crypt TLV negotiation (Python edition)
  python/meterpreter/meterpreter.py
Labels: msf6, python

#400 Add TLV encryption support to Java Meterpreter
  java/meterpreter/meterpreter/src/main/java/com/metasploit/meterpreter/TLVType.java
  java/meterpreter/meterpreter/src/main/java/com/metasploit/meterpreter/Transport.java
  java/meterpreter/meterpreter/src/main/java/com/metasploit/meterpreter/core/Loader.java
  java/meterpreter/meterpreter/src/main/java/com/metasploit/meterpreter/core/core_negotiate_tlv_encryption.java
Labels: delayed, enhancement, java, msf6

#418 Support AES-128-CBC For Java's TLV Crypt
  java/meterpreter/meterpreter/src/main/java/com/metasploit/meterpreter/Transport.java
  java/meterpreter/meterpreter/src/main/java/com/metasploit/meterpreter/core/core_negotiate_tlv_encryption.java
Labels: bug, java, msf6

#419 Update readme for cross compilation
  c/meterpreter/README.md
Labels: easy, enhancement, msf6
