Repository rapid7/metasploit-payloads, pull requests merged in 2021-12, with the labels that each got.

#513 Fix Meterpreter's stdapi for php 5.3
  php/meterpreter/ext_server_stdapi.php
Labels: php

#514 [Python] Cleanup channels when closing processes
  python/meterpreter/ext_server_stdapi.py
  python/meterpreter/meterpreter.py
Labels: bug, python

#515 Fix #512, fix python cmd_exec argument list during PROCESS_EXECUTE_FLAG_SUBSHELL
  python/meterpreter/ext_server_stdapi.py
Labels: bug, python

#511 fix stderr output in python channels
  python/meterpreter/meterpreter.py
Labels: bug, python

#516 [Python] Return an empty stat buf when stat fails
  python/meterpreter/ext_server_stdapi.py
Labels: bug, python

#517 [PHP] Return an empty stat buf when stat fails
  php/meterpreter/ext_server_stdapi.php
Labels: bug, php
