Repository rapid7/metasploit-payloads, pull requests merged in 2022-01, with the labels that each got.

#519 Update Javas stdapi_fs_delete_dir to be recursive
  java/meterpreter/stdapi/src/main/java/com/metasploit/meterpreter/stdapi/stdapi_fs_delete_dir.java
Labels: java

#522 Convert error codes to be consistent HRESULTS
  c/meterpreter/source/extensions/powershell/powershell.c
  c/meterpreter/source/extensions/powershell/powershell_bridge.cpp
  c/meterpreter/source/extensions/powershell/powershell_bridge.h
  c/meterpreter/source/metsrv/remote_dispatch.c
Labels: bug, windows

#520 Update PHP's stdapi_fs_delete_dir to be recursive
  php/meterpreter/ext_server_stdapi.php
Labels: php

#528 Return an error for invalid getsystem techniques
  c/meterpreter/source/extensions/priv/elevate.c
Labels: windows, easy
